:root {
  --swagger-code-font-family: JetBrains Mono, Consolas, Liberation Mono, Menlo,
    monospace;
  --swagger-code-block-bg: #333;
  --swagger-code-block-color: #c9d1d9;
  --swagger-btn-success-color: #49cc90;
  --swagger-btn-fail-color: #ff6060;
  --theme-accent-color: #005cc5;
  --theme-typescript-color: #3178c6;
  --theme-java-color: #6db33f;
  --theme-csharp-color: #512bd4;
}

body {
  font-feature-settings: "calt", "dlig", "ss01", "cv05", "cv08", "tnum", "opsz";
}

.swagger-ui .copy-btn-path {
  top: 0;
  right: 0;
  margin-left: 10px;
  position: relative;
  transition:
    transform 0.2s ease-out,
    filter 0.2s ease-out,
    background-color 0.2s ease-out;
}

.swagger-ui .copy-btn-default {
  top: 10px;
  right: 10px;
  transition:
    transform 0.2s ease-out,
    filter 0.2s ease-out,
    background-color 0.2s ease-out;
}

.swagger-ui .copy-typescript-btn-default {
  background-color: var(--theme-typescript-color);
  top: 10px;
  right: 50px;
  transition:
    transform 0.2s ease-out,
    filter 0.2s ease-out,
    background-color 0.2s ease-out;
}

.swagger-ui .copy-java-btn-default {
  background-color: var(--theme-java-color);
  top: 10px;
  right: 90px;
  transition:
    transform 0.2s ease-out,
    filter 0.2s ease-out,
    background-color 0.2s ease-out;
}

.swagger-ui .copy-csharp-btn-default {
  background-color: var(--theme-csharp-color);
  top: 10px;
  right: 130px;
  transition:
    transform 0.2s ease-out,
    filter 0.2s ease-out,
    background-color 0.2s ease-out;
}

.swagger-ui .copy-btn-default:hover,
.swagger-ui .copy-typescript-btn-default:hover,
.swagger-ui .copy-java-btn-default:hover,
.swagger-ui .copy-csharp-btn-default:hover,
.copy-btn-path:hover {
  filter: brightness(1.2);
}

.swagger-ui .copy-btn-success {
  transform: scale(0.8);
  background-color: var(--swagger-btn-success-color);
}

.swagger-ui .copy-btn-fail {
  background-color: var(--swagger-btn-fail-color);
}

.swagger-ui .topbar {
  display: none;
}

.swagger-ui .model-box-control:focus,
.swagger-ui .models-control:focus,
.swagger-ui .opblock-summary-control:focus {
  outline: none;
}

.swagger-ui .opblock-description-wrapper li {
  line-height: 2em;
}

.swagger-ui .markdown code,
.swagger-ui .renderedMarkdown code,
.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-path__deprecated,
.swagger-ui .parameter__extension,
.swagger-ui .parameter__in,
.swagger-ui .parameter__type,
.swagger-ui textarea,
.swagger-ui .opblock-body pre.microlight,
.swagger-ui .model {
  font-family: var(--swagger-code-font-family);
}

.swagger-ui .markdown code,
.swagger-ui .renderedMarkdown code:not(.hljs) {
  font-size: 0.85em;
  padding: 0.2em 0.4em;
  color: var(--theme-accent-color);
}

.swagger-ui .markdown code,
.swagger-ui .renderedMarkdown code.hljs {
  background: var(--swagger-code-block-bg);
  color: var(--swagger-code-block-color);
  padding: 1em;
}

.swagger-ui .curl-command {
  display: none;
}
